@font-face {
    font-family: 'Alegrya';
    src: url(../../fonts/alegreya-sans.black.ttf);
}
.tittleAll {
    font-family: 'Alegrya';
    color: black;
    font-size: x-large;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}