.icon-button {
    background: url(../../img/grumpy-cat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #002ae4;
    border-color:transparent;
}

input.icon-button:hover {
    border-width: 5px;
    border-color:orange;
}
