@font-face {
    font-family: 'Alegrya';
    src: url(../../fonts/alegreya-sans.black.ttf);
}
nav {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: center;
}

.home-view {
    background-color: #bbb4b4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.start-button {
    font-family: 'Alegrya';
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 20vh;
    border-radius: 20px;
    background-color: #5271FF;
    color:black;
    height: 15vw;
    margin: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}