.icon-button2 {
    background: url(../../img/happy-cat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #38b6ff;
    border-color: transparent;
}

input.icon-button2:hover {
    border-width: 5px;
    border-color:orange;
}